USE [master]
GO
/****** Object:  Database [dataw]    Script Date: 4/9/2019 8:41:29 PM ******/
CREATE DATABASE [dataw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dataw', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dataw.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dataw_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dataw_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dataw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dataw]
GO
USE [dataw]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 4/9/2019 8:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DeptNo] [char](3) NOT NULL,
	[DeptName] [varchar](36) NOT NULL,
	[MgrNo] [smallint] NOT NULL,
	[AdmrDept] [char](3) NOT NULL,
	[Location] [char](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EXAMMARK]    Script Date: 4/9/2019 8:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EXAMMARK](
	[Rollno] [char](10) NOT NULL,
	[SubID] [char](10) NOT NULL,
	[Examtimes] [int] NOT NULL,
	[Marks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Rollno] ASC,
	[SubID] ASC,
	[Examtimes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 4/9/2019 8:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](9) NOT NULL,
	[Dept] [char](3) NOT NULL,
	[Job] [char](10) NULL,
	[Years] [smallint] NULL,
	[Salary] [numeric](18, 0) NULL,
	[Comm] [numeric](7, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 4/9/2019 8:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT](
	[Rollno] [char](10) NOT NULL,
	[StuName] [varchar](30) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Address] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Rollno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 4/9/2019 8:41:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[SubID] [char](10) NOT NULL,
	[SubName] [varchar](50) NOT NULL,
	[Theory] [int] NULL,
	[Lab] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT ((100)) FOR [Salary]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_123] FOREIGN KEY([AdmrDept])
REFERENCES [dbo].[DEPARTMENT] ([DeptNo])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_123]
GO
ALTER TABLE [dbo].[EXAMMARK]  WITH CHECK ADD FOREIGN KEY([Rollno])
REFERENCES [dbo].[STUDENT] ([Rollno])
GO
ALTER TABLE [dbo].[EXAMMARK]  WITH CHECK ADD FOREIGN KEY([SubID])
REFERENCES [dbo].[SUBJECT] ([SubID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([Dept])
REFERENCES [dbo].[DEPARTMENT] ([DeptNo])
GO
ALTER TABLE [dbo].[EXAMMARK]  WITH CHECK ADD CHECK  (([Examtimes]=(1) OR [Examtimes]=(2)))
GO
ALTER TABLE [dbo].[EXAMMARK]  WITH CHECK ADD CHECK  (([Marks]>(0) AND [Marks]<=(100)))
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD CHECK  (([Gender]='male' OR [Gender]='female'))
GO
ALTER TABLE [dbo].[SUBJECT]  WITH CHECK ADD CHECK  (([Lab]>(0)))
GO
ALTER TABLE [dbo].[SUBJECT]  WITH CHECK ADD CHECK  (([Theory]>(0)))
GO
USE [master]
GO
